<div class="col-md-3 offset">
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <a href=""><img class="md-user-avatar" ng-src="{{PanelCtrl.user.picture || 'https://placehold.it/100x100'}}"></a>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{PanelCtrl.user.displayName}}</span>
                <span class="md-subhead">{{PanelCtrl.user.email}}</span>
            </md-card-header-text>
        </md-card-header>
    </md-card>
</div>
<div class="col-md-6">
    <md-card>
        <md-card-content>
            <form name="$ctrl.composerForm">
                <md-input-container class="md-block">
                    <label>Get it Out</label>
                    <textarea ng-model="$ctrl.status" ng-disabled="$ctrl.isLoading" md-maxlength="150" rows="3"></textarea>
                </md-input-container>
            </form>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-raised"
                       ng-disabled="$ctrl.disableSubmit()"
                       ng-click="$ctrl.submit()">
                <div layout="row" layout-align="center center">
                    <div ng-hide="$ctrl.isLoading">Submit</div>
                    <md-progress-circular ng-show="$ctrl.isLoading" md-diameter="25"
                                          md-mode="indeterminate"></md-progress-circular>
                </div>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
<div class="col-md-3 offset">
    <md-card>
        <md-card-header>

            <md-card-header-text>
                <span class="md-title" style="text-align: center">Online Users</span>
            </md-card-header-text>
        </md-card-header>
    </md-card>
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <a href=""><img class="md-user-avatar" ng-src="{{PanelCtrl.user.picture || 'https://placehold.it/100x100'}}"></a>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{PanelCtrl.user.displayName}}</span>
                <span class="md-subhead">{{PanelCtrl.user.email}}</span>
            </md-card-header-text>
        </md-card-header>
    </md-card>
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <a href=""><img class="md-user-avatar" ng-src="{{PanelCtrl.user.picture || 'https://placehold.it/100x100'}}"></a>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{PanelCtrl.user.displayName}}</span>
                <span class="md-subhead">{{PanelCtrl.user.email}}</span>
            </md-card-header-text>
        </md-card-header>
    </md-card>
</div>
