<div class="container" ng-controller="HomeController">
    <div class="panel panel-default">
        <div class="panel-heading">Welcome</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12" style="text-align: center">
                    <h2>l0ne</h2>
                    <h5>A Social Network For the Unsocial</h5>
                    <p>Come on in to train your non existent social skills to impress <strike>yourself</strike> everbody and show off to bots!</p>
                    <div  ng-if="!isAuthenticated()"><p><a class="btn btn-primary" href="/#/signup">Register »</a></p></div>
                    <div  ng-if="isAuthenticated()"><p><a class="btn btn-primary" href="/#/panel">Start »</a></p></div>
                </div>

            </div>
        </div>
        <!--<div class="panel-footer text-center">-->
            <!--<ul class="list-inline">-->
                <!--<li><i class="ion-bonfire"></i> test</li>-->
                <!--<li><i class="ion-cube"></i> test</li>-->
                <!--<li><i class="ion-star"></i> test</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>
